<%= form_with model: task, class: 'divTableRow', id: dom_id(task, 'inline_form'), local: false  do |form| %>

  <div class="divTableCell">
    <%= form.text_field :task_name, class:"form-control" %>
  </div>

  <div class="divTableCell">
    <div class="d-flex justify-content-center">
      <%= form.date_select :due_date %>
    </div>
  </div>

  <div class="divTableCell">
    <div class="d-flex justify-content-center">
      <%= form.check_box :status, class:"form-check-input" %>
    </div>
  </div>

    <div class="field">
      <h4><%= form.number_field :user_id, id: :task_user_id, value: current_user.id, class:"form-control", type: :hidden %></h4>
    </div>
  

  <div class="divTableCell">
    <div class="field">
      <%= form.file_field :image %>
    </div>
  </div>

  <div class="divTableCell">
    <%= form.submit "Update Task", class:"btn btn-outline-primary btn-sm" %>
    <%= link_to 'Cancel', root_path, class:"btn btn-outline-warning btn-sm" %>
  </div>

 
<% end %> 

