
<% if task.status %>
    <div class="divTableCell"><%= task.task_name %></div>
    <div class="divTableCell"><%= task.due_date %></div> 
    <div class="divTableCell">
        <%= form_for(task) do |f| %>
            <%= f.text_field :task_name, type: 'hidden' %>
            <%= f.check_box :status, :checked => false, :style => 'visibility: hidden' %>
            <%= f.submit "Completed", class:"btn btn-outline-primary btn-sm" %>
        <% end %>     
    </div>
    <div class="divTableCell">
        <td><%= link_to 'Edit', edit_task_path(task), remote: true, class:"btn btn-outline-info btn-sm" %></td>
        <td>     </td>
        <td><%= link_to 'Destroy', task, class:"delete_task  btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </div>
    <div class="divTableCell">
        <%= link_to 'Show Details', task_path(task), class:"btn btn-outline-info btn-sm" %>
    </div>

<% else %>

       <div class="divTableCell"><%= task.task_name %></div>
        <div class="divTableCell"><%= task.due_date %></div> 
        <div class="divTableCell">    
            <%= form_for(task) do |f| %>
                <%= f.text_field :task_name, type: 'hidden' %>
                <%= f.check_box :status, :checked => true, :style => 'visibility: hidden' %>
                <%= f.submit "Not-Completed", class:"btn btn-outline-secondary btn-sm" %>
            <% end %>  
        </div>
        <div class="divTableCell">
            <td><%= link_to 'Edit', edit_task_path(task), remote: true, class:"btn btn-outline-info btn-sm" %></td>
            <td>     </td>
            <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class:"delete_task  btn btn-outline-danger btn-sm" %></td>
        </div>
        <div class="divTableCell">
            <%= link_to 'Show Details', task_path(task), class:"btn btn-outline-info btn-sm" %>
        </div>

<% end %>














